asgiref==3.5.2
autopep8==2.0.0
dj-database-url==1.0.0
Django==4.1.2
django-bootstrap3==22.1
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==9.3.0
psycopg2==2.9.4
pycodestyle==2.9.1
python-decouple==3.6
sqlparse==0.4.3
tomli==2.0.1
whitenoise==6.2.0
