{% load static %}
{% load bootstrap3 %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

<!-- <footer>
    <div class="container-fluid">
        <h2 style="color:white; font-family: 'Alfa Slab One', cursive; ">contact me </h2>
        <hr class="primary" style="border:1px solid #d35400;margin: 0% 45% 0% 45%; align-self: auto;">
        </hr>

    </div>
</footer> -->

<footer>
    <div class="container-fluid">
        <a href="https://www.pinterest.com/itsramza/">Pinterest</i></a>
        <a href="https://www.instagram.com/ramzaportraits/">Instagram</a>
        <a href="https://twitter.com/ramzaxx">Twitter</a>
    </div>
</footer>