{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ramza | Email Page</title>

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/email.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
{% include 'navbar1.html' %}
<div class="container-email">
        <h3>
            One more thing...
        </h3>
        <form class="form1" action="{%url 'email'%}" method="post" style="text-align: center;">
            {%csrf_token%}
            {% bootstrap_form letterForm layout='inline' %}
            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <p>
            * no spam, no bullshit!
        </p>
    </div>
    <p>
        <a href="/"><p> Go back home </p></a>
    </p>
{% include 'contact.html' %}
{% endblock %}
</body>

{% block scripts %}
<!-- <script>
    function myFunction() {
        location.href = "{% url 'thankyou' %}"
    }
</script> -->
{% bootstrap_javascript %} {% endblock %}

</html>