{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

   {% block styles %}
    {% bootstrap_css %}
    <!-- font styles -->
    <link rel="stylesheet" href="{% static 'css/error_pgs.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <!-- end fonts -->
    <style>
    .container{
        padding: 10vh 0 50vh 0;
        text-align: center;
    }

    .container h1{
        font-family: 'Alfa Slab One', cursive;
        text-decoration: none;
        font-size: 205%;
        
    }

    </style>
    {% endblock %}
</head>
<body>
{% block content %}
{% include 'navbar1.html' %}
    <div class="container">
        <h1>
           Riddle me this; <br>
           "I’m always on the way, but never arrive. <br>
            What am I?"
        </h1>
    </div>
{% include 'contact.html' %}
{% endblock %}
</body>
</html>