{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% block styles %}
    {% bootstrap_css %}
    <!-- font styles -->
    <link rel="stylesheet" href="{% static 'css/error_pgs.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <!-- end fonts -->
    {% endblock %}
</head>

<body>
    {% block content %}
    {% include 'navbar1.html' %}
    <div class="container">
        <h1>
            There might be an internal error on my side, try again or wait a few minutes... Thank you :)
        </h1>
    </div>
    {% include 'contact.html' %}
    {% endblock %}
</body>

</html>