{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- font styles -->
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <!-- end fonts -->
    {% endblock %}

</head>
<body>
{% block content %}
{% include 'navbar.html' %}
<div class="container1">
        <h1 style="font-family: 'Alfa Slab One', cursive;">WELCOME TO MY WORLD</h1>
        <h4>The Photographer</h4>
</div>


<a name="about"></a>
    <div class="container2">
    <h2 style="font-family: 'Alfa Slab One', cursive; padding-bottom: 5%;">Get to know me...</h2>
    
    <img align="left" src="../static/images/ramza2.JPG" style="width: 50%; height: 100%;">
    <p align="right" style="text-align: left; padding-left: 50%; ">
            Hey there, my name is Ramza Reseni, a photographer and web developer. My passion for photography started when I got my first smartphone, and began ameture photography. I slowly built this into a passion and never looked back ever since.

            <br><br>

            <b>
                I ventured into this field not knowing what ISO does, let alone knowing what aperture is. Fortunate enough to get a DSLR camera I started learning along the way.
            </b>

            <br><br>
            I'm not a professional photographer, just yet, but I have come a long way from the many year ago I got inspired.
    </p>

        <form class="form-inline" action="{%url 'email'%}" method="post" style="float:right;">
            {%csrf_token%}
            <p>Sign up to stay updated and support me  :) </p>
            <input type="email" id="email" placeholder="Email Address" name="email">
            <button type="submit" style="color: black;">Sign Up</button>
        </form>
</div>

<a name="samples"></a>
<div class="container3">
    <p style="font-family: 'Anton', sans-serif; text-align: center;">
        If you get up in the morning and think the future is going to be better, it is a bright day. Otherwise, it's not. ~ Elon Musk
    </p>
</div>

<a name="contact"></a>
<!-- <footer>
    <div class="container-fluid">
        <h2 style="color:white; font-family: 'Alfa Slab One', cursive; ">contact me </h2>
        <hr class="primary" style="border:1px solid #d35400;margin: 0% 45% 0% 45%; align-self: auto;"></hr>
        
    </div>
</footer> -->
{% include 'contact.html' %}
{% endblock %}
</body>
</html>