{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

</head>
{% block content %}
<!-- font styles -->
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<!-- end fonts -->


<div class="container1">
    <body>
        <h1 style="font-family: 'Alfa Slab One', cursive;">Welcome to my space</h1>
    </body>
</div>


<div class="container2">
    <h2 style="font-family: 'Alfa Slab One', cursive;">Know about me...</h2>
    
    <p>
        <img src="../static/images/ramza1.JPG" style="width: 50%; height: 100%;float: left;">
            Hi, my name is Ramza Reseni, a photographer and a web developer. My passion for photography stated when I got my first smartphone, and started ameture photography with a 1 megapixel camera. I built this into a passion and have never looked back ever since.

            <br><br>

            <b>
                I ventured into this field not knowing what to do, let alone knowing what ISO does, and worked around my camera learning across the way.
            </b>

            <br><br>
            I wouldn't say I'm a professional photographer, but I have come a long way from the many year ago I got inspired.
    </p>
</div>

<div class="container3">
    <p style="font-family: 'Anton', sans-serif; text-align: center;">
        If you get up in the morning and think the future is going to be better, it is a bright day. Otherwise, it's not.
    </p>
</div>
{% endblock %}
</html>