{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- font styles -->
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <!-- end fonts -->
    {% endblock %}

</head>
<body>
{% block content %}
{% include 'navbar.html' %}
<div class="container1">
        <h1 style="font-family: 'Alfa Slab One', cursive;">WELCOME TO MY SPACE</h1>
        <h4>The Photographer</h4>
</div>


<a name="about"></a>
    <div class="container2">
    <h2 style="font-family: 'Alfa Slab One', cursive; padding-bottom: 5%;">Know about me...</h2>
    
    <img align="left" src="../static/images/ramza2.JPG" style="width: 50%; height: 100%;">
    <p align="right" style="text-align: left; padding-left: 50%; ">
            Hey there, my name is Ramza Reseni, a photographer and a web developer. My passion for photography stated when I got my first smartphone, and started ameture photography. I built this into a passion and have never looked back ever since.

            <br><br>

            <b>
                I ventured into this field not knowing what ISO does, let alone knowing what to do, and worked around my camera learning along the way.
            </b>

            <br><br>
            I wouldn't say I'm a professional photographer, but I have come a long way from the many year ago I got inspired.
    </p>
</div>

<a name="samples"></a>
<div class="container3">
    <p style="font-family: 'Anton', sans-serif; text-align: center;">
        If you get up in the morning and think the future is going to be better, it is a bright day. Otherwise, it's not.
    </p>
</div>

<a name="contact"></a>
<!-- <footer>
    <div class="container-fluid">
        <h2 style="color:white; font-family: 'Alfa Slab One', cursive; ">contact me </h2>
        <hr class="primary" style="border:1px solid #d35400;margin: 0% 45% 0% 45%; align-self: auto;"></hr>
        
    </div>
</footer> -->
{% endblock %}
</body>
</html>