{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar1.css' %}">
{% endblock %}
<body>
    <div class="topnav navbar-inverse navbar-fixed-top sticky-top" id="mNavbar">
        <a class="active" href="/">RAMZA OMBATI</a>
            <div class="pull-right">
                <a href="/">ABOUT</a>
                <a href="#photography">PHOTOGRAPHY</a>
                <a href="#contact">CONTACT</a>
        <a href="https://www.instagram.com/ramzaportraits/"><i class="fa fa-instagram fa-lg" ;"></i></a>
        <a href="https://twitter.com/ramzaxx"><i class="fa fa-twitter fa-lg" ;"></i></a>
        <a href="https://www.linkedin.com/in/ramza-reseni/"><i class="fa fa-linkedin fa-lg" ;"></i></a>
            </div>
    </div>
</body>
</html>