{% load bootstrap3 %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

{% endblock %}

<div class="topnav">
    <a href="#home">RAMZA OMBATI</a>
    <div class="topnav" id="myTopnav">
    <ul class="nav navbar-nav navbar-right">
        <a href="#about">About</a>
        <a href="#samples">Samples</a>
        <a href="#contact">Contact</a>
    </ul>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
</nav>
{% block script %}
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
{% endblock %}