{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar1.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
<body>
    <div class="topnav navbar-inverse navbar-fixed-top sticky-top" id="mNavbar">
        <a class="active" href="/">RAMSA OMBATI</a>
            <div class="pull-right">
                <a href="/">ABOUT</a>
                <a href="{% url 'photos' %}">PHOTOGRAPHY</a>
                <a href="{% url 'automobiles' %}">AUTO</a>
                <a href="#contact">CONTACT</a>
                <a href="https://www.pinterest.com/itsramza/"><i class="fa fa-pinterest fa-lg" style="font: size 50%;"></i></a>
                <a href="https://www.instagram.com/ramzaportraits/"><i class="fa fa-instagram fa-lg" style="font: size 50%;"></i></a>
                <a href="https://twitter.com/ramzaxx"><i class="fa fa-twitter fa-lg" style="font: size 50%;"></i></a>
            </div>

        <a href="javascript:void(0);" class="openbtn" onclick="openNav()">
            <i class="fa fa-bars"></i>
        </a>
        <div id="mySidebar" class="sidebar" onclick="closeNav()">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <br><br>
            <!-- <a href="#about">ABOUT</a> -->
            <a href="{% url 'photos' %}">PHOTOGRAPHY</a>
            <!-- <a href="#contact">CONTACT</a> -->
            <a href="https://www.pinterest.com/itsramza/">PINTREST</a>
            <a href="https://www.instagram.com/ramzaportraits/">INSTAGRAM</a>
            <a href="https://twitter.com/ramzaxx">TWITTER</a>
        </div>
    </div>
</body>

{% block script %}
<script>
    function openNav() {
        var x = document.getElementById("mySidebar");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
{% endblock %}
</html>