{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">

    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container1">
        <h1>Welcome to the photo space...</h1>
    </div>

    {% include 'navbar2.html' %}
    <a name="photography"></a>
    <div class="cont">
        <h2>Capture moments that speak to you !</h2>

    </div>
    <div class="container2">
        <div class="card">
            <a href="../static/images/banner1.jpg">
                <img align="left" src="../static/images/banner1.jpg">
            </a>
            <p align="right" style="padding-left: 5%;">
                <b>Location:</b> Kilimani Estate (Rooftop)
                <br>
                <b>Time shot:</b> Dusk
                <br><br>
                Among my shots when I started photography,the way the sun hit this building was simply breathtaking. I set my ISO at 400, set my focal distance to 55 millimetres, and shutter speed at 1/15 to get the correct exposure,focus was on the contrast between the subject and background
            </p>
        </div>
        <div class="card">
            <a href="../static/images/banner12.jpg">
                <img align="left" src="../static/images/banner12.jpg">
            </a>
            <p align="right" style="padding-left: 5%;">
                <b>Location:</b> KICC (Rooftop)
                <br>
                <b>Time shot:</b> Midday
                <br><br>
                Along my expeditions within the city I visited the monumental Kenya International Conference Centre (KICC), shot from the south
                east side of the building overlooking uptown, centre piece was Nation media building
            </p>
        </div>
        <div class="card">
            <a href="../static/images/muse0.jpg">
                <img align="left" src="../static/images/muse0.jpg">
            </a>
            <p align="right" style="padding-left: 5%;">
                <b>Muse:</b> Kavala
                <br>
                <b>Time shot:</b> Midday
                <br><br>
                This would be among my favourite portraits from one of the kindest souls I have known, from my point of view this photo speaks volumes and has so much happening in the background but has a strong forground.
            </p>
        </div> 

        <div class="card">
            <a href="../static/images/ben_1.jpg">
                <img align="left" src="../static/images/ben_1.jpg">
            </a>
            <p align="right" style="padding-left: 5%;">
                <b>Muse:</b> Benson
                <br>
                <b>Time shot:</b> Midday
                <br><br>
                One of the realest people I have ever met, a new concept that I tried, using greenary as both for ground and background, and subject as midground.
            </p>
        </div>


        <div class="card">
                <img align="left" src="../static/images/ben_ngong.jpg">
            </a>
            <p align="right" style="padding-left: 5%;">
                <b>Muse:</b> Benson
                <br>
                <b>Time shot:</b> Evening
                <br><br>
                An expedition to Ngong Hills, background is a door and stairs to one of the wind turbines, focus was on the foreground, and how the clouds reflected on the sunglasses with perfect harmony, a cool vybe to the photo.
            </p>
        </div>


        <div class="card">
                <img align="left" src="../static/images/mbugua_1.jpg">
            </a>
            <p align="right" style="padding-left: 5%;">
                <b>Muse:</b> Mbugua
                <br>
                <b>Time shot:</b> Midday
                <br><br>
                Location was at K1 Klubhouse, a new concept I tried with the balancing of light and dark, notice the mixture of colour in the photo.
            </p>
        </div>

            {% for image in object_list %}
            <div class="container>
                <img src=" {{image.image.url}}">
                <h3 class="uk-card-title">{{image.image_name}}</h3>
            </div>
            {% endfor %}
    </div>

    {% for photos in photos %}

    <div class="row">
        <!-- displaying photos articles -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ photo.title }} </h2>
        </div>

        <!--Display photos Article images  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{photo.article_image.url}}" class="img-responsive" alt="Image">
        </div>

    </div>
    {% endfor %}
        <a name= "contact"></a>
        {% include 'contact.html' %}

{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script type="text/javascript">
    function toggleExpand() {
        var expanded = true;
        $('img').each(function () {
            if (!$(this).hasClass('expanded')) {
                expanded = false;
                return false;
            }
        });
        $('a[href$=".png"], a[href$=".jpg"], a[href$=".gif"], a[href$=".bmp"]').children('img').each(function () {
            if (expanded)
                $(this).removeClass('expanded');
            else
                $(this).addClass('expanded');
        });
    }
</script>
{% bootstrap_javascript %} {% endblock %}
</body>
</html>