{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">

    {% endblock %}
</head>
<body>
{% block content %}
{% include 'navbar.html' %}
    <div class="container">
        <h1>Welcome to the photo space</h1>
    </div>
{% endblock %}

</body>
</html>