{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>Document</title> -->
    <!-- stylesheets -->
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="../static/css/thank-you.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    {% include 'navbar1.html' %}
    <div class="container">
        <h1>
            THANK YOU {{name}} !!
        </h1>
            <P>
                Your contribution will help greatly, thank you for believing in my vision and goals :)<br> Go to 
                <a href="/">Home Page</a>
            </P>
    </div>
{% include 'contact.html' %}
{% endblock %}
</body>
</html>