/* link animation */

.container-fluid a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(212, 211, 211);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.container-fluid a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


/* ------------------------------------------ */


.container-fluid{
    padding: 5%;
    background-color: black;
    text-align: center;

}

.container-fluid a{
    font-size: 110%;
    color: grey;
    padding: 0% 1% 0% 1%;
    font-family: 'Rokkitt', serif;
    /* border-bottom: 1px  solid gray; */
    text-decoration: none;

    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
