p {
    padding-top: 10%;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.container-email {
    padding: 10% 30% 0% 30%;
}


.container-email p {
    color: grey;
    text-align: right;
    font-size: 100%;
}

h3 {
    color: black;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;

}



/* come back and fix this  */

/* .conatiner-email a:hover {
    background-color: yellow;
    transition: 200ms;
} */

