p {
    padding-top: 10%;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.container-email {
    padding: 10% 30% 6% 30%;
}


.container-email p {
    color: grey;
    text-align: right;
    font-size: 100%;
}

h3 {
    color: black;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;

}

/* come back and fix this  */

/* .conatiner-email a:hover {
    background-color: yellow;
    transition: 200ms;
} */
.form1{
    color: black;
}

/* Style the submit button */
.form1 button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid grey;
    color: black;
}

.form1 button:hover {
    background-color: rgba(128, 128, 128, 0.74);
    transition: 350ms;
}

@media (max-width: 480px) {
    /* body{
        padding-bottom: 2vw;
    } */
    .container-email{
        margin-top: 50vw;
        padding: 2vw;
    }
}

@media(max-width:850px) {
    .container-email{
        padding-bottom: 10vh;
    }

    .container-email h3{
        text-align: center;
    }

    .form1{
        padding: 0 2vw 0 2vw;
    }

    p{
        margin-right: 2vw;
    }
}