.container{
    padding: 10%;
    text-align: center;
    background-color: aqua;
}

.container h1{
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    
}

@media (max-width: 480px) {
    /* body{
        padding-bottom: 2vw;
    } */
    .container{
        margin-top: 60vw;
        padding: 2vw;
        padding-bottom: 20vw;
    }
}