html {
  scroll-behavior: smooth;
}
h1{
    text-align: center;
    font-size: 300%;
    color: white;
    opacity: 0.9;
}

h2{
    text-align: center;
    font-size: 300%;
    color: black;
    opacity: 0.9;
}

h4{
    color: white;
    font-family: 'Rokkitt', serif;
    padding-top: 1%;
}

.container1{
    background-image: url(../images/ramza1.JPG);
    background-size: 100%;
    padding: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 100%;
    /* filter: blur(1px); */
}

.container2{
    padding: 8% 15% 10% 15%;
    text-align: left;
}

img{
    width: 50%;
    height: 100%;
    padding-right: 5%;
    border-radius: 5px;
}

p{
    padding-top: 2%;
    font-family: 'Rokkitt', serif;
    font-size: 115%;   
}

.container3{
    margin-top: 10%;
    padding: 20%;
    background-image: url(../images/123.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: white;
    font-size: 190%;
    margin-bottom: 5%;
}

.container-fluid{
    padding: 2% 10% 20% 10%;
    background-color: black;
    text-align: center;
}

@viewport {
  width: device-width;
}