h1{
    text-align: center;
    font-size: 300%;
    color: white;
    opacity: 0.9;
}

h2{
    text-align: center;
    font-size: 300%;
    color: black;
    opacity: 0.9;
}

.container1{
    background-image: url(../images/ramza1.JPG);
    background-size: cover;
    padding: 27%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container2{
    padding: 15%;
}

img{
    width: 50%;
    height: 100%;
    /* float: left; */
}

p{
    padding-top: 2%;
    float: right;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 115%;    
}

.container3{
    margin-top: 30%;
    padding: 20%;
    background-image: url(../images/banner1.jpg);
    background-position: center;
    /* background-repeat: no-repeat;  */
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 190%;
    margin-bottom: 20%;
}